@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*************** General styling **************/

body {
    background-color: transparent;
    background-image: url("../images/body-bg-3.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #fff;
    /* font-family: 'Concert One', cursive; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;
    min-height: 100vh;
    font-size: 16px;
}

.modal-content {
    background-image: url(../images/navy-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: left;
}

.close {
    color: #ffff00;
}

.close:hover {
    color: #fff;
}

.logo-welcome {
    width: 90%;
}

.quiz-logo {
    width: 50%;
}


/*************** Typography **************/

h1,
h2,
h3,
h4 {
    font-family: 'Luckiest Guy', cursive;
}

p {
    font-size: 1.2rem;
}

#question {
    color: #feff00;
    font-size: 1.7rem;
}

.high-scores {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.6rem;
    line-height: 2rem;
}

#correctMessage {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.6rem;
    color: #adff2f;
}

.large-text {
    font-size: 1.7rem;
}

.info-boxes {
    border: 2px solid #87C932;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(20, 20, 20, 0.6);
    width: 130px;
    color: #fffb00;
}


/*************** Buttons styling **************/

.btn {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding-top: 15px;
}

.button-start {
    width: 90%;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding-top: 15px;
}

.inactive-button {
    background-color: #646464;
    border: 2px solid #fff;
    border-radius: 15px;
    color: #a7a7a7;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-top: 10px;
}

.answer-button {
    background-color: #0075ff;
    color: #fff;
}

.answer-button:hover {
    background-color: #000080;
}

.correct-answer {
    background-color: #008000;
}

.wrong-answer {
    background-color: #ff0000 !important;
}


/*************** Special class to hide items on mobile since .hide() doesn't work **************/

.hide {
    display: none;
}


/*************** Remove hover effect on mobile **************/

@media (hover: none) {
    .answer-button {
        background-color: #0075ff;
    }
}

@media (max-width: 992px) {
    .answer-button:hover {
        background-color: #0075ff;
    }
    .correct-answer {
        background-color: #008000 !important;
    }
}


/*************** Leaderboard styling **************/

.centered-high-scores {
    text-align: center;
    list-style-position: inside;
}